@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TypoRound;
  src: url('@Assets/font/Typo-Round.otf');
}


@layer {
  :root {
    --background: #f0f0f0;
    --foreground: #0f0f0f;
    --border: #e3e3e7;
    --logo-bg: #0000000d;
    --fill-quaternary: #e7e7e7;
    --fill-quaternary_hover: #e2e2e2;
    --loading: #d9d9d9;
    --loading-bg: #c3bdbd;
    --text-gray: #a8a8a8;
    --tag-bg: #f0f0f0;
    --text-b1: #6c6c6c;
    /* --scrollbar-background: #333333; */
    --popover-bgColor: #fff;
    --scrollbar-background: #fff;
    --scrollbar-thumb: #cdcaca;
  }

  .dark {
    --background: #0f0f0f;
    --foreground: #f0f0f0;
    --border: #27272a;
    --logo-bg: #ffffff14;
    --fill-quaternary: #222222;
    --fill-quaternary_hover: #2f2f2f;
    --loading: #3d3d3d;
    --loading-bg: #a8a3a3;
    --text-gray: #a8a8a8;
    --tag-bg: #3c3c3c;
    --text-b1: #b1b1b1;
    --popover-bgColor: #323232;
    --scrollbar-background: #333333;
    --scrollbar-thumb: #aaaaaa;
  }

  .font-typo {
    font-family: TypoRound, sans-serif  !important;
  }
  ._hoverTag {
    @apply px-2 rounded-md hover:bg-[--tag-bg];
  }
  ._hoveredTag {
    @apply px-2 rounded-md bg-[--tag-bg];
  }
  ._hoverBtnRight {
    @apply cursor-pointer transition-all duration-300 hover:!opacity-50  hover:!translate-x-1
  }
  ._hoverBtnLeft {
    @apply cursor-pointer transition-all duration-300 hover:!opacity-50  hover:!-translate-x-1
  }
}

@layer base {
  * {
    @apply box-border border-[--border];
  }

  body {
    @apply bg-[--background] text-[--foreground];
  }
}

body {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-background);
}
